<mat-toolbar color="primary" class="header">
  <span style="margin-right: 100px;">Collaborative UML</span>
  <span style="margin-right: 50px;">
    <span>
      Filename: {{ uml.filename }}
    </span>
    <span>
      Editor: {{ uml.lastEditedBy }}
    </span>
  </span>
  <span>
    <button mat-raised-button routerLink="/">
      Update
    </button>
  </span>
  <span style="position: absolute;right: 0; margin-right: 10px;">
    <button mat-raised-button color="accent" onclick="window.open('//real-world-plantuml.com/?type=sequence')">Real
      World Examples</button>
  </span>
</mat-toolbar>
<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile rowspan="3">
      <mat-card class="text-card">
        <mat-card-header colour="accent">
          <!-- <mat-form-field>
      <mat-label>File Manager</mat-label>
      <select ng-model="fileManagerSelect" class="nav-item dropdown">
        <option class="dropdown-item" value="New">New</option>
        <option class="dropdown-item" value="Open">Open</option>
        <option value="Save">Save</option>
        <option value="Save As">Save As..</option>
        <option value="Import">Import</option>
        <option value="Export">Export</option>
        <option value="Delete">Delete</option>
      </select>
    </mat-form-field> -->
        </mat-card-header>
        <mat-card-content>
          <textarea #textbox id="umltext" autofocus class="text" [(ngModel)]="uml.content"
            (keyup)="update()" (keydown)="resetCounter()">
        </textarea>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <img class="image" [src]="uml.url">
    </mat-grid-tile>
  </mat-grid-list>
</div>