.text-card {
  max-width: 500px;
  max-height: 900px;
  background-color: lightblue;
  align-self: center;
}

.image-card {
  max-width: 500px;
  max-height: 900px;
  background-color: lavender;
  align-self: center;
}
mat-grid-tile {
  background: lightpink;
}
