.text-card {
  // max-width: 500px;
  // max-height: 900px;
  width: 100%;
  height: 876px;
  background-color:  #7e57c2;
  align-self: baseline;
  margin:2em;
}

.text {
  width: 100%;
  height: 766px;
  font-size: large!important;
}

.image {
  margin:2em;
  background-color: lavender;
  align-self: baseline;
  border: lightpink;
  border-style: double;
  border-width: thick;
  padding: 10px;
}
mat-grid-tile {
  background: white;                                                                                                                  
}

mat-form-field {
  margin-right: 10px;
  width: 40%;
}