<mat-toolbar color="primary" class="header">
  <ul>
    <div>RUML</div>
  </ul>
  <ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Filename" />
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Editor Name"
      />
      <button class="btn btn-info my-2 my-sm-0" type="Set">
        Set
      </button>
    </form>
  </ul>
</mat-toolbar>

<div class="row jumbotron">
  <app-editor></app-editor>
</div>
